<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
{% load static %}
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>ანი & ცოტნე</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">  
   <link rel="stylesheet" href="{% static 'css/main.css' %}">  
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

   <!-- script
   ================================================== -->
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/pace.min.js' %}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="{% url 'app:index' %}">ანი & ცოტნე</a>
	   </div> 

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">ნავიგაცია</span>
		  	<span class="header-menu-icon"></span>
		</a> 

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>დახურვა</span></a>	

	   	<h3>ანი&ცოტნე</h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">მთავარი</a></li>
				<li><a class="smoothscroll" href="#about" title="">ჩვენს შესახებ</a></li>
				<li><a class="smoothscroll" href="#testimonials" title="">ტექსტური მოლოცვები</a></li>
				<li><a class="smoothscroll" href="#portfolio" title="">სურათები</a></li>
				<li><a class="smoothscroll" href="#contact" title="">ვიდეო მოლოცვა</a></li>						
			</ul>	
	
		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->  


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
			  				<h3 class="animate-intro">ა💑ც</h3>
				  			<h1 class="animate-intro">
							მიყვარხარ ! <br>
							გილოცავ სიყვარულის დღეს, <br>
							ჩემო სიყვარულო!
				  			</h1>
				  				

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#about">
				  					ნახე მეტი
				  				</a>
				  			</div>							

			  		</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<ul class="home-social-list">
	
	      <li class="animate-intro">
	      		<audio controls autoplay style='position: absolute;'>
				  
				  <source src="{% static 'audio/I_Love_You_Baby.mp3' %}" type="audio/mpeg">
				</audio>
	        	{# <a href="#"><i class="fa fa-dribbble"></i></a> #}
	      </li>	      
	   </ul> <!-- end home-social-list -->	

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">		
		   	დასქროლე ქვემოთ	   	
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>			
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">ჩვენ 💘 შესახებ</h3>
	   				<p class="lead animate-this">💜 ჩვენ ვართ <span>ანი</span> და <span>ცოტნე</span> 💜</p>	
	   				<h5 class="animate-this">ანი პირველად დაახლოებით 554  დღის წინ დავინახე. მეზღვაურის მაისურივით ჭრელი ზედა ეცვა- თეთრი, ლურჯი ზოლებით ან პირიქით (ამაზე აღარ მიფიქრია). შეზარხოშებული ვიყავი, ჭიკჭიკის ხასიათზე, ხოდა მივედი ანისთან და დავიწყე საუბარი.
					ორივე აბიტურიენტები ვიყავით და სასაუბრო თემაც მალევე მოვნახეთ.
					მე კომაროვი მქონდა დამთავრებული და 'მაწყობდა' სწავლაზე ლაპარაკი, ხოდა შევაგდე გამოცდებზე და სწავლაზე 'ბაზარი', ანიმაც არ დამითმო და ამყვა.
					ასე დაიწო ჩვენი ურთიერთობა, რომელიც დღემდე გრძელდება და გაგრძელდება!!!
					რატომ ჩამივარდა გულში გოგო, რომელსაც მხოლოდ "ზედით"  ვცნობდი არ ვიცი , არც სახელი და გვარი ვიცოდი, დღის შუქზეც არ მყავდა ნანახი, მაგრამ ვგრძნობი ასე მოსაუბრე 'გლახა :დ' გოგო არ უნდა ყოფილიყო.
					10-15 წუთი ლაპარაკის შემდეგ ზოლებიანი მაისურის პატრონს ხელში დაექაჩნენ და წამართვეს, დაქალმა წაიყვანა სახლში 😞 რატომღაც მეწყინა ...  სახლში მისულს ისეთი გრძნობა მქონდა, თითქოს გარეთ რაღაც დამჩა, ვერ ვხვდებოდი რა. მერე გამახსენდა და ფბ-ზე მოვიკითხე ზოლებიანი ზედის პატრონი, ასე მივწერე პირველი 'მესიჯი'. არა ვცდები, მან მომწერა პირველმა, 'რა ხდება?' -ო.  ხოდა, ჩემო ანი, აი ეს ხდება , უყვარხარ ცოტნეს და 554 დღის შემდეგ სიყვარულის დღეს გილოცავს!!!</h5>
				</div>

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->

   <!-- portfolio
   ================================================== -->
   <section id="portfolio">
   	
   	<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3>...</h3>
		   		<h1>კადრები რომლებიც ტკბილად მოგვაგონდება</h1>  			
		   		
		   		<p class="lead">...</p>	   			
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap -->   	

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div id="folio-wrap" class="bricks-wrapper">					

   				<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/gallery/g-bakuriani_1.jpg' %}" data-sub-html="#01" > 	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/bakuriani_1.jpg' %}" alt="Skaterboy">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      ბაკურიანი
		     					   </span>
		     					   <h3 class="folio-title">ბაკურიანში წინა საარჩევნო ტრენინგებზე</h3>	     					   
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->
						
						<div id="01" class='hide'>
							<h4>ბაკურიანი</h4>
							<p>ბაკურიანში ტრენინგებზე , ცოტნემ დრო გამონახა და ანისთან სურათი გადაიღო</p>
						</div>
	        	</div> <!-- end folio-item -->

	        	<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/gallery/g-dab_dubi.jpg ' %}" data-sub-html="#02"> 	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/dab_dubi.jpg' %}" alt="Shutterbug">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Heppy Barthday
		     					   </span>
		     					   <h3 class="folio-title">ანის მეცხრამეტე წელი დაიწყო ამ დღეს</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="02" class='hide'>
							<h4>ანის დაბადების დღე</h4>
							<p>ამ დღეს მე და ანის ასაკი გათანაბრდა ,ცოტნემ დალია და იცეკვა , ოღონდ ცოტა</p>
						</div>	               
	        	</div> <!-- end folio-item -->

	        	<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="{% static 'images/portfolio/2.jpg' %}" data-sub-html="#03" >   	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/2.jpg' %}" alt="Explore">	                     
	                     <div class="item-text">	                     		     					    
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
		     					   <h3 class="folio-title">Architecture</h3>
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->	

	               <div id="03" class='hide'>
							<h4>Architecture</h4>
							<p>...</p>
						</div>               
	        	</div> <!-- end folio-item -->

				<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/8.jpg' %}"  data-sub-html="#04" >
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/8.jpg' %}" alt="Minimalismo">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Web Design
		     					   </span>
		     					   <h3 class="folio-title">Minimalismo</h3>
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="04" class='hide'>
							<h4>Minimalismo</h4>
							<p>...</p>
						</div>  	               
	        	</div> <!-- end folio-item -->

				<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/6.jpg' %}"  data-sub-html="#05" >  	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/6.jpg' %}" alt="Bicycle">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
		     					   <h3 class="folio-title">Skaterboy</h3>
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="05" class='hide'>
							<h4>Skaterboy</h4>
							<p>...</p>
						</div>	               
	        	</div> <!-- end folio-item -->
	           
				<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/7.jpg' %}"  data-sub-html="#06">     	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/7.jpg' %}" alt="Salad">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Branding
		     					   </span>
		     					   <h3 class="folio-title">Salad</h3>
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="06" class='hide'>
							<h4>Salad</h4>
							<p>...</p>
						</div>	               
	        	</div> <!-- end folio-item --> 

	        	<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="{% static 'images/portfolio/zeda.jpg' %}"  data-sub-html="#07">     	
	                  <a href="#" class="overlay">
	                  	<img src="{% static 'images/portfolio/zeda.jpg' %}" alt="Salad">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					     ზოლებიანი
		     					   </span>
		     					   <h3 class="folio-title">"ზედა"</h3>
		     					</div>                                        
	                  </a>
	                  <a href="#" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="07" class='hide'>
							<h4>"ზედა"</h4>
							<p>ეს ის ზედაა მე რომ ლურჯი თეტრ ზოლებში მეგონა , კი არადა პირიქით , მაგრამ თურმე შავი თეთრში ყოფილა </p>
						</div>	               
	        	</div> <!-- end folio-item -->  				

   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->   	

   </section>  <!-- end portfolio -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="animate-this">... მოლოცვები ...</h2>
   		</div>   		
   	</div>   	

      <div class="row flex-container">
    
         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

               <li>
                  <p>
                  ანიი და ცოტნეე, ჩემო საყვარლებო, გილოცავთ სიყვარულის დღეს, გისურვებთ ერთად ყოფნას ტკბილად თბილად და გემრიელად მთელი ცხოვრებაა 💘 გკოცნით გეხვევით მუდამ თქვენი ანა რუბაშვილი 💘
                  </p> 

                  <div class="testimonial-author">
                    	<img src="{% static 'images/avatars/rubashka.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		ანა რუბაშვილი
                    		<span class="position">. . .</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->

               <li>
                  <p>
                  ანიკოოოო💜 ჩემო სიყვარულო, გოლოცავ 14 თებერვალს 💘 მოკლედ რაც გაგიცანი, იმის შემდეგ ცოტნესთან ერთად ასოცირდები ჩემთვის 💑 მიუხედავად იმისა რომ ზოგჯერ ნერვებს მიშლის , ცალ-ცალკე მაინც ვერ წარმომიდგენიხართ. გისურვებთ რომ კიდევ უამრავი 14 თებერვალი გაატაროთ ერთად და იყოთ ისეთი ბედნიერები როგორებიც ახლა ხართ ,  ძალიან მიყვარხართ ორივე 💘💘💘💑💑💑💜💜💜    
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/kapanadze.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		თაკო კაპანაძე
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->

               <li>
                  <p>
                  გილოცავთ! ძალიან მომწონს ეს ლამასობა საიტი. სულ სულ ბედნიერ და სიყვარულით სავსე დღეებს გისურვებთ. კრეატიულობა და ექშენი არ მოიკლოთ, ლავ უ გაიზ 💜   
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/akhalauri.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		მარიამ ახალაური
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->

               <li>
                  <p>
                  Ann & Tsotne  - გილოცავთ სიყვარულის დღეს, გისურვებთ მუდამ ერთად ყოფნას და ულევ სიხარულს ცხოვრებაში, სიყვარული რო გექნებათ ერთმანეთის კი ვიცი და 😄 აი ლავ ზის ქოუფლეს 💜  
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/sharasha.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		ლევან შარაშიძე
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  გვრიტებო, გილოცავთ სიყვარულის დღეს❣️არ შემიძლია არ ავღნიშნო, რომ უმაგრესი საიტია და ვაფასებ ცოტნეს კრეატიულობას😄💕მთელი გულით და სულით დიდ ბედნიერებას გისურვებთ💘მთელი ცხობრება ვალენტინობის დღესავით  სიყვარულით და სიურპრიზებით სავსე გქონოდეთ💕💕მიყვარხართ❣️ თქვენი ერთგული მეგიკა😍❤️ 
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/megika.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		მეგიკა კეკელია
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  მოკლედ ჩემო საყვარლებო გილოცავთ სიყვარულის დღეს,ბედნიერებას, ერთად ყოფნას და ყოველივე იმას გისურვებთ რაც თქვენ გინდათ😘❤️უსაყვარლესები და ულამაზესები ხართ😘❤️იმდენად შესაფერისები ხართ როო მინდა სულ ესეე ბედნიერები იყოთთ😘❤️ძალიან მიყვარხართ ორივენი ❤️😘გისურვებთ სულ ესე ბედნიერად და ჯანრმთელად იყოთ😘❤️იმდენად კარგები და მართლები ხართ რომ ვიციი ყველაფერი კარგად გექნებათ😘❤️😘❤️😘
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/keso.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		კესო შარვაძე
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  ცოტნე და ანი გილოცავთ სიყვარულის დღეს, უსაყვარლესები ხართ და ეს საიტიც თქვენსავით ძალიან საყვარლობაა. მინდა რომ ძალიან ძალიან ბედნიერები იყოთ სუულ!!😍😍 კიდევ ბევრჯერ მიგელოცოთ ერთმანეთისთვის 14 თებერვალი და ბევრ ბედნიერ დღეს გისურვებთ💗💗💗💗
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/chikviladze.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		თამუნა ჩხიკვაძე
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  ანი გილოცავ , ულევ ბედნიერებას გისურვებ ცოტნესთან ერთად და დიდი იმედი მაქვს სულ ასეთი ბედნიერები იქნებით ერთად! ძალიან უყვარხარ ამ ადამიანს და დარწმუნებული ვარ მის გვერიდით სულ გახარებული იქნები ❤❤🎉🎉🎉🎉 ძალიან კარგი წყვილი ხართ ❤გყვარობთ!
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/javaxishvili.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		ნუცა ჯავახიშვილი
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  გილოცავთ ვალენტინობას, სულ ბედნიერი ყოფილიყავი შენს საყვარელ ადამიანთან ერთად, ძალიან მიყვარხარ და მიხარია რომ ყოველ დღე გახარებულს გხედავ ❤🎉🎉🎉🎉🎉და მიხარია რომ იპოვეთ ერთმანეთი, კიდევ კაი ❤❤
                  </p>

               	<div class="testimonial-author">
                    	<img src="{% static 'images/avatars/nebieridze.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		ქეთი ნებიერიძე
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->
               <li>
                  <p>
                  	             ა💑ც 

					ცოტნეს მოყოლილ ისტორიას რაღაცას დავამატებ , იმ საღამოს სახლში შემოვედით და დავწექით, ჩვეულებრისამებრ ტელეფონები მოვიმარჯვეთ, ანი უჩვეულოდ ბედნიერი იყო ,ცოტნეს წერდა,მაშინვე მივხვდი ,რომ
					მოეწონა ,თურმე ერთი ნახვით
					სიყვარული ყოფილა.მთელი ღამე წერდნენ ერთმანეთს ორი სრულიად უცნობი ადამიანი,თუმცა აშკარა იყო ,რომ ისინი რაღაც უცნაურმა გრძნობამ დააკავშირა ერათმანეთს.ბევრს აღარ ვილაპარაკებ , გაგრძელება ყველამ იცის❣️კარგია როცა ორ ადამიანს ასე უყვარს ერთმანეთი 💛გილოცავთ ანი და ცოტნე სიყვარულის დღეს✨მინდა სულ ბედნიერები იყოთ და ეს გრძნობა მთელი ცხოვრება გაგყოლოდეთ❤️მიხარია რომ ასეთი ბედნიერები ხართ და რაღაც წვლილი მაინც მიმიძღვის ამ ბედნიერებაში 👫საუკეთესო სურვილებით 💑ნინი ა.
                  </p>

               	  <div class="testimonial-author">
                    	<img src="{% static 'images/avatars/ninuca.jpg' %}" alt="Author image">
                    	<div class="author-info">
                    		ნინუცა აბდუშელიშვილი
                    		<span>. . .</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->


            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->         
        
      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->


	<!-- stats
   ================================================== -->
   <section id="clients">

		<div class="row animate-this">
			<div class="col-twelve">

				<div class="client-lists owl-carousel">
  					<div><img src="{% static 'images/portfolio/14.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/5.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/1.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/2.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/7.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/8.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/9.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/10.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/11.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/12.jpg' %}" alt=""></div>
  					<div><img src="{% static 'images/portfolio/13.jpg' %}" alt=""></div>
  					{% comment %}
  					<div><img src="{% static 'images/clients/bower.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/codepen.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/envato.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/firefox.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/grunt.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/evernote.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/github.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/joomla.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/jQuery.png' %}" alt=""></div>
  					<div><img src="{% static 'images/clients/wordpress.png' %}" alt=""></div>
  					{% endcomment %}
				</div>
				
			</div> <!-- end col-twelve -->
		</div> <!-- end row -->

   </section> <!-- end clients -->


	<!-- contact
   ================================================== -->
   <section id="contact">

      <div class="overlay"></div>

		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-twelve">
   			{# <h3>Contact</h3> #} 
   			<h1>დიდი მადლობა ყველას დახმარებისთვის და მოლოცვისთვის</h1>
{% comment %}
   			<p class="lead"></p>
{% endcomment %}
   		</div> 
   	</div> <!-- end section-intro -->

   	<div class="row contact-content">
   		<div class="col-twelve tab-full animate-this">
   		<div class="youtube">

   			<iframe width="800px" height="480" src="https://www.youtube.com/embed/Hq_FgjDrF5Q" id="myframe"></iframe>
   			
   		</div>

   			

   		</div>



   	</div> <!-- end row contact-content -->
		
	</section> <!-- end contact -->


	<!-- footer
   ================================================== -->
	<footer>
     	<div class="footer-main">

   		<div class="row">  

	      	<div class="col-five tab-full footer-about">       

	            <h4 class="h05">ანი & ცოტნე</h4>

	            <p>ეს საიტი ავაწყე ანისთვის , ამით ვულოცავ 2017 წლის თებერვლის 14 რიცხვის , რატომ? არ ვიცი , ალბათ მოდაშია ,არ მიყვარს ეს დღე, წმინდა ვალეტინი კათოლიკეების წმინდანია , ამ დღეს ორ მამაკაცს დაწერა ჯვარი , და რატომღაც სიყვარულის დღედ აღიარეს ... ,კიდევ ერთხელ დიდი მადლობა ყველას დახმარებისთვის , ღმერთმა გაბედნიეროთ და გაგახაროთ თქვენ სიყვარულებთან ერთად !!! </p>	            

		      </div> <!-- end footer-about -->

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© ც.შ ყველა უფლება არაა დაცული</span> 
		         	<span><a href="#"></a></span>		         	
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

      <div id="go-top">
		   <a class="smoothscroll" title="Back to Top" href="#top">
		   	<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		   </a>
		</div>		
   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'js/plugins.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>

</body>

</html>